/* controls overall page */
.App {
  background: rgb(99, 146, 124);
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* top header */
.header {
  height: 4rem;
  width: 100%;
  border-bottom: 2px solid white;
  display: flex;
  align-items: center;
  /*padding:0 1rem;*/
  background: rgb(255,255,255,0.3);
}

/* pie logo (probably change lol) */
.logo {
  height: 3.5rem;
  width: 3.5rem;
  background: url('https://lh3.googleusercontent.com/jAXeLh-qOzTAnTxmLZMUBQRQc3409ZEnAytRO4ooirBKdjJAHTvzEAXOj_Ej0NhY-8LAisNEfhhNxmlf1QIP8wUDGifBZgWM0Ma9sgGD0pMcfNgb0gHeFpDtaukT0-SwACTjhOgK2Q=w2400');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 50%;
  margin-left: 1rem;
}

/* main "CHATTER!" text */
.title {
  color: white;
  font-weight: bold;
  font-size: 2rem;
  margin-left: 1rem;
}

/* styling of all messages */
.messages {
  display: flex;
  flex-direction: column-reverse;
  align-items: flex-start;
  overflow: auto;
  max-height: calc(100vh - 4rem - 4rem);
  min-height: calc(100vh - 4rem - 4rem);
}

/* individual message styling */
.message {
  color: white;
  background: black;
  padding: 0.5rem 1rem;
  margin: 0.2rem;
  border-radius: 0.3rem;
}
